*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
.container{
    max-width: 1140px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    padding-left: 12px !important;
    padding-right: 12px !important;
}

section{
    position: relative;
}

@media (max-width:992px) {
    label[for="iconbox"] {
        cursor: pointer;
        width: 35px;
        height: 25px;
        display: flex;
        z-index: 3;
        justify-content: space-between;
        flex-direction: column;
    }

    label[for="iconbox"]>span {
        width: 100%;
        height: 4px;
        background-color: brown;
        z-index: 3;
        border-radius: 100px;
    }

    .md_screen {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        pointer-events: none;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: -100%;
        opacity: 1;
        transition: all 200ms linear;
        background-color: #FFFFFF;
        gap: 10px;
        z-index: 2;
    }

    input[type="checkbox"]:checked+div ul.md_screen {
        opacity: 1;
        pointer-events: all;
        left: 0;
    }
}
/* .mt-5{
    transform: translateX(-30px);
} */
.box1{
    border: 2px solid rgba(0, 0, 0, 0.699);
    width: 300px;
    background: black;
}
.prev{
width: 50px;
}
.next{
    width: 50px;
}
.d-flex2{
display: flex;
}
.prev{
    position: absolute; 
    left: 30%;
}
.next{
    position: absolute; 
    right: 30%;
}